---
import PageHeader from "../../components/PageHeader.astro";
import GlobalLayout from "../../layouts/GlobalLayout.astro";

import PlayerData from "../../components/Deeping/PlayerData.astro";
import Loader from "../../components/Loader.astro";
import { getUserInfo } from "../../utils/tm-io";

const { wsid } = Astro.params;

if (!wsid) return Astro.redirect("/", 303);

const playerInfo = await getUserInfo(wsid);

if (!playerInfo) return Astro.redirect("/");

const twitch = playerInfo.meta.twitch
  ?.replace("https://www.twitch.tv/", "")
  .replace("https://twitch.tv/", "")
  .replace("/", "");
---

<GlobalLayout title={`informations for ${playerInfo.name} | DD2`}>
  <PageHeader>Informations on {playerInfo.name}</PageHeader>
  <Loader />
  <div class="spacer"></div>
  <PlayerData wsid={wsid} />
  <div class="spacer"></div>
  <span>
    See informations on {playerInfo.name} over @
    <a href={playerInfo.meta.displayURL}>trackmania.io</a>
  </span>
  {
    twitch && (
      <div
        hx-swap="outerHTML"
        hx-get={"/api/user/streaming/" + twitch}
        hx-trigger="load"
        hx-target="this"
      />
    )
  }
</GlobalLayout>
